@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');
.font-podkova {
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    
}
.navBtn{
    background: none !important;

}
.navBtn:hover{
    background: none !important;
    color: red !important;
}
.loaderIcon span{
    width: 3.5rem !important;
}
.carousel-item img{
    width: 50%;
    height: auto;
    margin: 0 auto;
}